<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="untangled logo" src="{{ .Site.Params.logo.standard | relURL }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="untangled logo" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
    </div>
    <div class="top-logo">
      <a href="/">
        <img class="untangledlogo" src="https://neontribe.github.io/untangled/about/" alt="untangled logo" />
      </a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
