#want-to-spend-your-summer-experimenting-designing-and-making-things-with-code {

  display: block;
  font-family: roboto,Arial,sans-serif,-apple-system;
  font-size: 2.6rem;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 288px;
  margin-bottom: 40px;
  text-align: center;

}

.button {

  font-family: roboto,Arial,sans-serif,-apple-system;
  white-space: nowrap;
  display: inline-block;
  padding: 8px 20px 6px;
  background: #9013fe;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  border-radius: 40px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}