<section class="row">
	<h2>Overview</h2>
    <p>We want to inspire young people to code creatively using everyday objects for a week this summer.</p>
    <div class="eight columns">
	    <ul>
	    	<li>
	    		<p>01/08/2016</p>
	    		<p>Monday
	    			<span>Find Gadgets</span>
	    		</p>
	    	</li>
	    	<li>
	    		<p>02/08/2016</p>
	    		<p>Tuesday
	    			<span>Do things with gadgets</span>
	    		</p>
	    	</li>
	    	<li>
	    		<p>03/08/2016</p>
	    		<p>Wednesday
	    			<span>Do some more things with gadgets</span>
	    		</p>
	    	</li>
	    	<li>
	    		<p>04/08/2016</p>
	    		<p>Thursday
	    			<span>Finalise projects ready for presentation day</span>
	    		</p>
	    	</li>
	    	<li>
	    		<p>05/08/2016</p>
	    		<p>Friday
	    			<span>Presentation day</span>
	    		</p>
	    	</li>
	    </ul>
	</div>
	<div class="four columns">
	    <img src="{{ .Site.BaseURL }}/img/neontribe_logo.svg" />
	</div>
</section>
