<section class="row">
    <h2>Requirements</h2>
    <ul>
        <li>
            <h3>Age (13-18)</h3>
            <p>We'll flex this if a younger programmer can demonstrate coding experience; and we know they're out there.</p>
        </li>
        <li>
            <h3>Desire to learn programming, hardware or design</h3>
            <p>The week will be about learning how to write computer code, use computer hardware and designing computer based user interfaces</p>
        </li>
        <li>
            <h3>Dedication</h3>
            <p>Untangled is for a week, not just a day</p>
        </li>
    </ul>
</section>
