{{ partial "dividers/bubbles.html" . }}
<div id="theme">
    <div class="container">
        <section class="row">
            <h2>Theme</h2>
            <p>We’ll find up a selection of disconnected items: appliances, tissue boxes, fans, toasters etc…  item(s). We’ll invite votes to see what gets internetized, and then we’ll team up:</p>
            <ul>
                <li><span>Team Design:</span> a design and UX creative group to build a web interface to control the connected hardware</li>
                <li><span>Team Hardware:</span>a hardware group to attach sufficient tech goods to the junk to allow control over the internet</li>
                <li><span>Team Code:</span>a programming group to wire up the web interface to the hardware</li>
            </ul>
        </section>
    </div>
</div>
{{ partial "dividers/bubbles-inverted.html" . }}
