{{ partial "dividers/bubbles.html" . }}
<div id="theme">
    <div class="container">
        <section class="row">
            <h2>Theme: Internet of Things</h2>
            <p>Following the excitement surrounding the <a href="https://en.wikipedia.org/wiki/Internet_of_things" target="_blank">Internet of Things</a> our theme is <strong>Internet of Things</strong></p>
            <p>We’ll find up a selection of disconnected items: appliances, tissue boxes, fans, toasters etc…  item(s). We’ll invite votes to see what gets internetized, and then we’ll split into teams:</p>
            <ul>
                <li><span>Code</span> Bridging the connection between the hardware and the design.</li>
                <li><span>Design</span> Providing awesome user interfaces to control the hardware.</li>
                <li><span>Hardware</span> Hooking up hardware components to the appliance to allow control over the internet.</li>
            </ul>
        </section>
    </div>
</div>
{{ partial "dividers/bubbles-inverted.html" . }}
